body {
  margin: 0;
}

#main {
  display: grid;
  place-content: center;
  height: 100vh;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#submit-button {
  width: 100%;

  cursor: pointer;
}
