body {
  margin: 0;
}

#main {
  display: grid;
  place-content: center;
  height: 100vh;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  width: 100%;
}

#submit-button {
  width: 100%;

  cursor: pointer;
}

input {
  border: black solid 1px;
}

input:invalid,
.invalid-input {
  border: red solid 1px;
}

input:valid {
  border: black solid 1px;
}
